/* credit w3schools */

* { /* Gælder for alle CSS-elementer i dette dokument*/
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.faq_container {
    width: 100%;
}

/* Style på knapperne, der åbner accordion */
.question {
    border: none;
    outline: none;
    padding: 20px;
    width: 100%;
    cursor: pointer;
    background-color: #90AFD5;
    color: #ffffff;
    transition: 0.4s;
    font-size: 18px;
}

.question:hover {
    background-color: #020D59;
}

.active {
    background-color: #3655A0;
}

/* Style til svar. Skjul svarene som standard. */
.answer {
    padding: 20px 40px;
    background-color:#ffffff;
    display: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

