*{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: Helvetica;
}

body{
background: white ;
min-height: 100vh;
position: relative;
height: 100%;
}

main{
margin-left: 100px;
margin-right: 100px;
}

/*nav*/


header{
    height: 170px;
    
}


nav{
    position: fixed;
    height: 170px;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 20vh;
    background: #fff;
    box-shadow:  0 5px 8px 0 rgba(0, 0, 0, 0.1);
}

.nav-content{
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav img{
    width: 18%;
    display: block;
    margin-top: 1rem;
    
    
}

.nav-top{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}


.nav-buttom{
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
    width: 100%;
   
    
}
.nav-buttom a{
    margin-left: 30px;
}

.nav-buttom a:hover{
    border-bottom: 2px solid #020D59;
}

.nav-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.nav-links li{
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.nav-links li i {
    margin-right: 20px;
    color: black;
}

a{
    text-decoration: none;
    color: #000000;
}

.nav-btn1{
    background: #90AFD5;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}


.nav-btn1:hover{
    background:#020D59;
    transition: 0.2s ease-out;
}

.nav-btn2{
    border: 2px solid #90AFD5;
    padding-left: 11px;
    padding-right: 11px;
}


.nav-btn2 a{
    color: black;
}

.nav-btn2:hover{
    background:#90AFD5;
    transition: 0.2s ease-out;
}


.om-os-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 250px;
    
}

.om-os-content h1{
    margin-bottom: 40px;
}

.txt-and-img{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.txt-box{
    width: 785px;
    height: 411px;
    background: #90AFD5;
    margin-right: 25px;
}
.txt-box p{
    margin: 40px 20px;
    
}
.om-os-img img{
    width: 785px;
    height: 411px;
    margin-left: 25px;
}

.personale-content{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.personale-content h1{
    margin-left: 650px;
}

.row1{
    display: flex;
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
    justify-content: space-between;

}

.row1 img{
    width: 350px;
    height: 425px;
}

.p1{
   margin-right: 37.5px;
   display: flex;
   flex-direction: column;
   justify-content: baseline;
   align-items: center
}

.p2{
    margin-right: 37.5px;
    margin-left: 37.5px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center
 }

 .p3{
    margin-left: 37.5px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center
 }

 .row2{
    display: flex;
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
    justify-content: space-between;
    margin-bottom: 350px;
}

.row2 img{
    width: 350px;
    height: 425px;
}


 .p4{
    margin-right: 37.5px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center
 }
 
 .p5{
     margin-right: 37.5px;
     margin-left: 37.5px;
     display: flex;
     flex-direction: column;
     justify-content: baseline;
     align-items: center
  }
 
  .p6{
     margin-left: 37.5px;
     display: flex;
     flex-direction: column;
     justify-content: baseline;
     align-items: center
  }








/*Footer*/

footer{
background: #90AFD5;
height: 300px;
position: absolute;
bottom: 0;
left: 0;
width: 100%;
display: flex;
justify-content: space-around;
}
footer p{
line-height: 1.5rem;
}

.footer-content{
margin-top: 30px;
display: flex;
color: white;
justify-content: space-around;
width: 100%;
margin-left: 200px;
margin-right: 200px;
} 


.burger{
display: none;
cursor: pointer;
}

.burger div{
width: 25px;
height: 3px;
background-color: black;
margin: 5px;
transition: all 0.3s ease;
}



@media screen and (max-width:1200px){
.nav-links{
    width: 60%;
}
}

@media screen and (max-width:768px){
body{
    overflow-x: hidden;
}
nav img{
    width: 30%;
}

.nav-top{
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    width: 50%;
}

.nav-top a{
    margin-bottom: 0;
}

.nav-buttom{
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    margin-left: 87%;
    width: 100%;
    
}
.nav-buttom a{
    line-height: 90px;
    font-size: 20px;
    font-weight: 550;
}

.nav-btn1{
    background: #90AFD5;
    padding: 12px 30px;
    border-radius: 18px;
    color: white;
}

.nav-btn2{
    border: 2px solid #90AFD5;
    padding: 12px 4px;
    border-radius: 18px;
    margin-top: 35px;
}

.nav-btn2 i{
    margin-left: 12%;
}

.nav-btn2 a{
    color: black;
}

.nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in
}

.nav-links li{
    opacity: 0;
}

.burger{
    display: block;
}

.nav-btn1{
    background:  #90AFD5;
    padding: 15px 40px;
    border-radius: 18px;
    color: black;
}

}